tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.score{
font-weight: bold;
font-size: larger;
color: red;
}

.cardsLeft{
font-weight: bold;
font-size: larger;
color: red;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}